body{
    margin: 0px;
    background-color: #c5f5ff;
}

.form-login{
    background-color: #79dcf0;
}

.img-logo{
    height:150px;
}

h1, h2{
    color: #5f2a24;
}

h3{
    color: #9c5a43;
}

.quote{
    font-style: italic;
}

table img{
    width: 70px;
    height: 70px;
    object-fit: cover;
}


#topButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #5f2a24;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#topButton:hover {
  background-color: #9c5a43;
}

#form-email-oferta{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn{
    background-color: #0487D9;
    color: white;
}

.bg-1{
    background-color: #79dcf0;
}

.bg-2{
    background-color: #c5f5ff;
}

.navbar{
    background-color: #5f2a24;
    color: white;
}

.navbar a{
    color: white;
}

.navbar a:hover{
    color: #79dcf0;
}

#produtos img{
    height: 200px; 
    object-fit: cover;
    padding-top: 5px;
}

#feedbacks img{
    vertical-align: top;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: gray 1px solid;
    object-fit: cover;
}